    /* Général */
    
    body {
        margin: 0px;
        padding: 0px;
    }
    /* Header */
    
    .container {
        background-color: #F3E9F1;
        box-shadow: 0 0 20px black;
        display: flex;
        justify-content: space-between;
    }
    
    .lienPanierIndex {
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #a860c5, #e6b06a);
        background-image: -moz-linear-gradient(top, #a860c5, #e6b06a);
        background-image: -ms-linear-gradient(top, #a860c5, #e6b06a);
        background-image: -o-linear-gradient(top, #a860c5, #e6b06a);
        background-image: linear-gradient(to bottom, #a860c5, #e6b06a);
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-right: 40px;
    }
    
    .lienPanierIndex:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }
    
    .logo {
        margin-top: 4px;
        margin-left: 4px;
        width: 200px;
        height: 100px;
    }
    /* Section */
    
    .titre {
        text-align: center;
    }
    
    h1 {
        font-size: 26px;
    }
    
    h2 {
        background-color: #353535;
        padding: 20px;
        color: white;
        opacity: 0.8;
        box-shadow: 0 0 20px #353535;
    }
    
    .section_products {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }
    
    article {
        margin: 10px;
        border: solid black 1px;
        box-shadow: 0 0 5px black;
        width: 350px;
        text-align: center;
    }
    
    .teddy {
        border-bottom: solid black 1px;
    }
    
    .color {
        cursor: pointer;
    }
    /* Footer */
    
    footer {
        background-color: #353535;
        padding: 10px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        margin: 0px;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    /* Page produit */
    
    .article_alone {
        margin: auto;
    }
    
    .msg {
        color: green;
        text-align: center;
    }
    
    .msgBlack {
        color: black;
    }
    
    .lienPanier {
        color: green;
    }
    
    .lienAccueil {
        color: black;
    }
    /* Page Panier */
    
    .panier {
        display: flex;
        flex-wrap: wrap;
    }
    
    .resetLePanier {
        text-align: center;
    }
    
    .continueBuy {
        text-align: center;
    }
    /* Formulaire Validation Panier */
    
    .formPanier {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: beige;
        /* border: 1px black solid; */
    }
    
    .formValidPanier {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    
    #envoyerFormulaire {
        margin-top: 12px;
    }
    /* Commande valide */
    
    .commandeValide {
        text-align: center;
        margin: auto;
        font-weight: bold;
        text-decoration: none;
        color: green;
    }
    
    .lien_commande {
        color: blue;
    }
    /* Affichage commande page commande  */
    
    .cordonnee {
        margin-left: 40px;
    }
    
    .donneeForm {
        display: flex;
        flex-direction: column;
        border: solid black 1px;
        align-items: center;
    }
    
    .afficheCommande {
        display: flex;
        flex-direction: column;
    }
    
    .prixTotal {
        text-align: center;
    }