    /* Général */
    
    body {
        margin: 0px;
        padding: 0px;
    }
    /* Header */
    
    .container {
        background-color: #F3E9F1;
        box-shadow: 0 0 20px black;
    }
    
    .logo {
        margin-top: 4px;
        margin-left: 4px;
        width: 200px;
        height: 100px;
    }
    /* Section */
    
    .titre {
        text-align: center;
    }
    
    h1 {
        font-size: 26px;
    }
    
    h2 {
        background-color: #353535;
        padding: 20px;
        color: white;
        opacity: 0.8;
        box-shadow: 0 0 20px #353535;
    }
    
    .section_products {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }
    
    article {
        margin: 10px;
        border: solid black 1px;
        box-shadow: 0 0 5px black;
        width: 350px;
        text-align: center;
    }
    
    .teddy {
        border-bottom: solid black 1px;
    }
    
    .color {
        cursor: pointer;
    }
    /* Footer */
    
    footer {
        background-color: #353535;
        padding: 10px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        margin: 0px;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    /* Page produit */
    
    .article_alone {
        margin: auto;
    }
    
    .msg {
        color: green;
        text-align: center;
    }
    
    .lienPanier {
        color: green;
    }
    /* Page Panier */
    
    .panier {
        display: flex;
        flex-wrap: wrap;
    }